{% extends "index.html" %} 
{% block title %}
  {% if request.args.get('q') %}
    Search result for {{ request.args.get('q') }}
  {% else %}
    All Contacts
  {% endif %}
{% endblock %}
{% block body %}
<div>
  {% for contact in contacts %}
    <div class="jumbotron">

      <div class="row">
        <div class="col-md-6">
          <a type="email" href="mailto:{{ contact.email or ''}}">  
            <p class="heading">{{ contact.name }}</p>
          </a>
        </div>
        <div class="col-md-4">
          <!-- <small>{{ contact.createdAt }}</small> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <p class="lead">{{ contact.phone_number or contact.email }}</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-md-6">
              <form class="" style="padding-left: 0"
                action="{{ url_for('add_contact', contact_id=contact._id) }}" method="GET">
                <input type="submit" class="btn btn-info" value="Edit"></input>
              </form>
            </div>
            <div class="col-md-6">
              <form class="col-md-1" style="padding-left: 0" action="{{ url_for('delete_contact', contact_id=contact._id) }}" method="POST">
                <input type="submit" class="btn btn-danger" value="Delete"></input>
              </form>
            </div>
          </div>
        </div>  
      </div>
    </div>
  {% endfor %}
  <!-- <div>
    <form action="/note/new" method="GET">
      <input type="submit" class="btn btn-success" value="Add Note"></input>
    </form>
  </div>
</div> -->
{% endblock %}