<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <div class="container container-fluid">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-info" role="alert">
            <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>  
          </div>
          
        {% endif %}
      {% endwith %}
      <div class="row">
          <div class="row">
            <div class="col-md-8">
              <h1 class="text-center"><a href="{{ url_for('index')}}">Address Book</a></h1>
            </div>
            <div class="col-md-2">
              {% if request.path == url_for('index') %}
              <form action="{{url_for('index')}}" method="get">
                <input type="text" placeholder="search" value="{{ request.args.get('q') or "" }}" name="q"/>
                <button type="submit">Search</button>
              </form>
              {% endif %}
            </div>
            <p>
              <div class="col-md-2">
                <div class="center">
                  {% if request.path == url_for('index') %}
                  <form action="{{ url_for('add_contact') }}" method="GET">
                    <input type="submit" class="btn btn-success" value="New Contact"></input>
                  </form>
                  {% endif %}
                </div>  
              </div>
            </p>
          </div>
      </div>
      
      {% block body %}
      {% endblock %}
      <footer class="footer">
        <p class="text-center">© 2018-19 Joice Moolekkari</p>
      </footer>
    </div>
  </body>
</html>
