{% extends "index.html" %}
{% block title %} Update Contact {% endblock %}
{% block body %}
<div class="jumbotron">
  {% if request.path == url_for('add_contact') %}
  <form action="{{ url_for('new_contact') }}" method="POST">
  {% else %}
  <form action="{{ url_for('save_contact', contact_id=address._id) }}" method="POST">
  {%endif %}  
    <div class="form-group">
      <label>Title</label>
      <input class="form-control" name="name" type="text" value="{{req.name or address.name }}" required="required">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" name="email" value="{{ req.email or address.email or ""}}"></input>
    </div>
    <div class="form-group">
      <label>Phone Number</label>
      <input type="tel" pattern="[0-9]{10}" class="form-control" name="phone_number" value="{{ req.phone_number or address.phone_number or "" }}"></input>
    </div>
    <input type="submit" class="btn btn-info" value="Save"></input>
  </form>
</div>
{% endblock %}